
#///////////////////////////
# Cocos Creator Project
#///////////////////////////

/library/
/temp/
/local/
/build/
/profiles/
/native/engine/android/**/*/assets

#//////////////////////////
# NPM
#//////////////////////////
node_modules/
__pycache__/
*.pyc

# Local verification screenshots
outputs-preview-*.png

# macOS
.DS_Store

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
